#home-info{
	width: 100%;
	background-color: $dark-green;

	.home-text{
		@include outer-container;
		text-align: center;
		
	}

	h2{
		padding: 40px 10px 25px 10px;
		color: $white;
		font-weight: 400;
		line-height: em(24px);
	}

}

#home-products{
	
	@include outer-container;
	padding: 66px 10px 66px 10px;

	.product{
		@include span-columns(4);

		img{
			border: 2px solid transparent;
		}

		img:hover{
			border: $medium-gray solid 2px;
	
		}

		a{
			color: $black;

			&:hover{
				color: $prime-hover;
			}
		}

		h3{
			padding-top: 15px;
			font-weight: 400;
			margin: 0px;
		}

		p{
			padding-top: 5px;
			font-size: em(18px);
		}
	}
}

//home breakpoint//

@media (max-width: $mobile-break) {
	#home-products{
	
		@include outer-container;
		text-align: center;
		padding: 44px 10px 44px 10px;

		.product{
			@include span-columns(12);

			h3{
				padding-top: 5px;
				margin: 0px;
			}

			p{
				font-size: em(18px);
			}

		}
	}
}



	